<div class="calendar-position">
  <h2 class="calendar-title calendar-table">
    <span id="previous-month" class="month-button"><%= image_tag('back-arrow-circular-symbol.png') %></span>
    <span id="year-js"></span>年 <span id="month-js"></span>月
    <span id="next-month" class="month-button"><%= image_tag('right-arrow-circular-button.png') %></span>
  </h2>
  <table class="calendar-table">
    <thead>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody id="calendar-body-js"></tbody>
  </table>
</div>