<h1>New Thing</h1>

<%= render 'form' %>

<% form_for @thing do |thing| %>
	<div class="form-group">
		<label for="InputEmail">メール・アドレス</label>
		<input type="email" class="form-control" id="InputEmail" placeholder="メール・アドレスを入力して下さい。">
	</div>
<% end %>

<%= link_to "Back", things_path %>
